button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarContent' aria-controls='navbarContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
#navbarContent.collapse.navbar-collapse
    ul.navbar-nav.nav.nav-pills
        li.nav-item.dropdown
            a.nav-link.text-white(href='#about') About EVFY
            ul.dropdown-menu(role='menu')
                li
                    a(href='#mission') Our Mission
                li
                    a(href='#team') Our Team
        li.nav-item.dropdown
            a.nav-link.text-white(href='#sustainabilityIndex1') Sustainability Index
            ul.dropdown-menu(role='menu')
                li
                    a(href='#sustainabilityIndex2') The Index
                li
                    a(href='#sustainabilityIndex3') Methodology
        li.nav-item
            a.nav-link.text-white(href='#SRM') Sustainability Roadmap
        li.nav-item.dropdown
            a.nav-link.text-white(href='#page1') Our Partners
            ul.dropdown-menu(role='menu')
                li
                    a(href='#item1') Piconi Farm
                li
                    a(href='#item2') Easy Bird Wines
                li
                    a(href='#item3') Sprouts
        li.nav-item
            a.nav-link.text-white(href='#contactUs') Contact Us