footer.footer
  .footer-inner-container
    section.column
      h3.title Customer Service Support:
      p
        | 1-877-GET-EVFY
        br
        | info@ev-fy.com
      .icons
        a(href='https://www.facebook.com/evfyinc' target='_blank')
          img(src='images/social media icons/fb.svg')
        a(href='https://twitter.com/EVFY_inc' target='_blank')
          img(src='images/social media icons/twitter.svg')
        a(href='https://www.linkedin.com/company/evfy' target='_blank')
          img(src='images/social media icons/linkedIn.svg')
        a(href='https://www.instagram.com/evfy_inc/' target='_blank')
          img(src='images/social media icons/IG.svg')
    section.column
      h3.title Where to Find Us:
      p
        | EVFY, Inc.
        br
        | 4360 Park Terrace Dr. Suite 100,
        br
        | Westlake
        |                     Village, CA 91361
    section.column.logo
      a(href='index.html')
        img(src='https://www.ev-fy.com/hubfs/images/EVFY_logos-white_green_green_border_RGB_SL_stacked_HR@2x.png')
  .disclaimer
    p
      | &copy; 2021 EVFY All rights reserved.
      a(href='#' target='_blank') Privacy Policy
      |  and
      a(href='#' target='_blank') Terms of Use
// add jQuery, Popper, Bootstrap JS
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
// Contact Form JS
script(src='js/contact.js')
script(src='js/signin.js')
script(src='js/backToTop.js')